body{
  margin-left: 10%;
  margin-right: 10%;
  padding: 3.0em;
  border: thin solid purple;
  font-size: 20px;
  font-family: 'Comic Sans MS', 'Helvetica Neue', Arial, sans-serif;
}


input{
  border: 2px solid green;
}

h2{
  color: hotpink;
}


.mugshot{
  width: 50px;
}


table{
  font-size: 14px;
}


input.submit-button{
  width: 250px;
  font-size: 25px;
  background: white;
  cursor: pointer;
  border: thick solid green;
  margin: 2.0em;

}
